<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340645375939-bg2oom7epkkm70h3pdjgc3rk43uq9k1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340645375939-bg2oom7epkkm70h3pdjgc3rk43uq9k1v</string>
	<key>API_KEY</key>
	<string>AIzaSyD4bJ-StdV9EaxRnhxofjkQxZLt9ypqiMo</string>
	<key>GCM_SENDER_ID</key>
	<string>340645375939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.0410.koromo0310</string>
	<key>PROJECT_ID</key>
	<string>imagetotext0226</string>
	<key>STORAGE_BUCKET</key>
	<string>imagetotext0226.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340645375939:ios:aee7013b7befa1cb61d776</string>
	<key>DATABASE_URL</key>
	<string>https://imagetotext0226-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>